[Desktop Entry]
Name=TJXT
Exec=tjxt %U
Terminal=false
Type=Application
Icon=tjxt
StartupWMClass=tjxt
MimeType=x-scheme-handler/clash;x-scheme-handler/mihomo;
Comment=TJXT
Categories=Utility;
